# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/out/
.idea/artifacts/OfflinePlayers.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
